# Empath 

## Empath Resources 

- https://github.com/Ejhfast/empath-client
- https://www.tandfonline.com/doi/abs/10.1080/09638237.2020.1739251

In [1]:
import empath
import pandas as pd
import numpy as np

In [2]:
import os
import sys
sys.path.insert(0, os.path.abspath('..'))

from empath import Empath

In [20]:
# creating the lexicon object 
# list of categories within empath 
lexicon = Empath()
list_cat = ['help', 'office', 'dance', 'money', 'wedding', 'domestic_work', 'sleep', 'medical_emergency', 'cold', 'hate', 'cheerfulness', 'aggression', 'occupation', 'envy', 'anticipation', 'family', 'vacation', 'crime', 'attractive', 'masculine', 'prison', 'health', 'pride', 'dispute', 'nervousness', 'government', 'weakness', 'horror', 'swearing_terms', 'leisure', 'suffering', 'royalty', 'wealthy', 'tourism', 'furniture', 'school', 'magic', 'beach', 'journalism', 'morning', 'banking', 'social_media', 'exercise', 'night', 'kill', 'blue_collar_job', 'art', 'ridicule', 'play', 'computer', 'college', 'optimism', 'stealing', 'real_estate', 'home', 'divine', 'sexual', 'fear', 'irritability', 'superhero', 'business', 'driving', 'pet', 'childish', 'cooking', 'exasperation', 'religion', 'hipster', 'internet', 'surprise', 'reading', 'worship', 'leader', 'independence', 'movement', 'body', 'noise', 'eating', 'medieval', 'zest', 'confusion', 'water', 'sports', 'death', 'healing', 'legend', 'heroic', 'celebration', 'restaurant', 'violence', 'programming', 'dominant_heirarchical', 'military', 'neglect', 'swimming', 'exotic', 'love', 'hiking', 'communication', 'hearing', 'order', 'sympathy', 'hygiene', 'weather', 'anonymity', 'trust', 'ancient', 'deception', 'fabric', 'air_travel', 'fight', 'dominant_personality', 'music', 'vehicle', 'politeness', 'toy', 'farming', 'meeting', 'war', 'speaking', 'listen', 'urban', 'shopping', 'disgust', 'fire', 'tool', 'phone', 'gain', 'sound', 'injury', 'sailing', 'rage', 'science', 'work', 'appearance', 'valuable', 'warmth', 'youth', 'sadness', 'fun', 'emotional', 'joy', 'affection', 'traveling', 'fashion', 'ugliness', 'lust', 'shame', 'torment', 'economics', 'anger', 'politics', 'ship', 'clothing', 'car', 'strength', 'technology', 'breaking', 'shape_and_size', 'power', 'white_collar_job', 'animal', 'party', 'terrorism', 'smell', 'disappointment', 'poor', 'plant', 'pain', 'beauty', 'timidity', 'philosophy', 'negotiate', 'negative_emotion', 'cleaning', 'messaging', 'competing', 'law', 'friends', 'payment', 'achievement', 'alcohol', 'liquid', 'feminine', 'weapon', 'children', 'monster', 'ocean', 'giving', 'contentment', 'writing', 'rural', 'positive_emotion', 'musical', 'colors', 'id', 'injury and death', 'demo', 'what']

In [4]:
# defining function to analyse sentences 
# can be altered to add category and normalise values 

def empath_analyse(sentence):
    x = lexicon.analyze(sentence) #,categories=["violence"])
    return x

In [5]:
# reading tweet data 

tweets = pd.read_csv('/Users/eleanordavies/Desktop/demo_tweets_clean.csv')
### tweets["id"] = tweets.index
tweets.head()

## Running tweets through empath 
- Create an array of the 'cleaned' text from the tweets 
- Run a for loop to analyse tweets usinh emapth_analyse function 
- Convert data dictionary into dataframe  
- Append data dictionary dataframe to the exsiting tweet dataframe

In [8]:
data_to_list = tweets['selected_tweets'].values.tolist()
data_to_list = np.array(data_to_list)

data =[]
for i in range(len(data_to_list)):
    data.append(empath_analyse(data_to_list[i])),
data_dict = pd.DataFrame.from_dict(data)
data_dict.head()

,help,office,dance,money,wedding,domestic_work,sleep,medical_emergency,cold,hate,...,contentment,writing,rural,positive_emotion,musical,colors,id,injury and death,demo,what
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
result = pd.concat([tweets, data_dict], axis=1, join="inner")
result.head()

,selected_tweets,tweet_id,text,user,location,date,help,office,dance,money,...,contentment,writing,rural,positive_emotion,musical,colors,id,injury and death,demo,what
0,me when get out of lockdown,1.353850e+18,@WillParry5 Me when I get out of lockdown. htt...,Matthew_Hodson,"London, Europe",13/03/2020,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,oh don the scissors bought in first lockdown a...,1.353850e+18,@Liz_ORiordan Oh don’t... the scissors I bough...,kidneydoc101,"London, UK",06/02/2020,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,want to collaborate with street dancers perfor...,1.353850e+18,I want to collaborate with 2 street dancers/pe...,gofilmit,Global,12/02/2020,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,throwback to the first lockdown where me and m...,1.353850e+18,Throwback to the first lockdown where me and @...,jwhitby1878,NaN,29/08/2020,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,movin on up primal scream acoustic cover lockd...,1.353850e+18,Movin’ On Up - Primal Scream @ScreamOfficial a...,mickeyraff,Belfast,27/01/2021,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

## Aggregating tweets 
- Create any columns which may be needed for aggregation (month and year have been chosen as the grain for time) 
- Using pivot table function to explore average values for each lexical category for given date and location

In [16]:
result['date'] = pd.to_datetime(result['date'])
result['Period'] = result['date'].dt.to_period('M').dt.strftime('%m.%Y')
result.head()

,selected_tweets,tweet_id,text,user,location,date,help,office,dance,money,...,writing,rural,positive_emotion,musical,colors,id,injury and death,demo,what,Period
0,me when get out of lockdown,1.353850e+18,@WillParry5 Me when I get out of lockdown. htt...,Matthew_Hodson,"London, Europe",2020-03-13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03.2020
1,oh don the scissors bought in first lockdown a...,1.353850e+18,@Liz_ORiordan Oh don’t... the scissors I bough...,kidneydoc101,"London, UK",2020-06-02,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06.2020
2,want to collaborate with street dancers perfor...,1.353850e+18,I want to collaborate with 2 street dancers/pe...,gofilmit,Global,2020-12-02,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.2020
3,throwback to the first lockdown where me and m...,1.353850e+18,Throwback to the first lockdown where me and @...,jwhitby1878,NaN,2020-08-29,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,08.2020
4,movin on up primal scream acoustic cover lockd...,1.353850e+18,Movin’ On Up - Primal Scream @ScreamOfficial a...,mickeyraff,Belfast,2021-01-27,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,01.2021

In [25]:
pd.pivot_table(result,index=[ "Period", "location"], values=list_cat,aggfunc=[np.mean])

                                       mean                                  \
                                achievement affection aggression air_travel
Period  location
01.2020 Baile Átha Cliath               0.0       0.0        0.0        0.0
        California                      0.0       0.0        0.0        0.0
        Carlow                          0.0       0.0        0.0        0.0
        Deutschland                     0.0       0.0        0.0        0.0
        Dublin, Ireland                 0.0       0.0        0.0        0.0
...                                     ...       ...        ...        ...
12.2020 ÜT: 55.879262,-3.574265         0.0       0.0        0.0        0.0
12.2021 Canada                          0.0       0.0        0.0        0.0
        Ilford, London                  0.0       0.0        0.0        0.0
        Irish in E17                    0.0       0.0        0.0        0.0
        Oxford, Oxfordshire, UK         0.0       0.0        0.0        0.0

                                                                        \
                                alcohol ancient anger animal anonymity
Period  location
01.2020 Baile Átha Cliath           0.0     0.0   0.0    0.0       0.0
        California                  0.0     0.0   0.0    0.0       0.0
        Carlow                      0.0     0.0   0.0    0.0       0.0
        Deutschland                 0.0     0.0   0.0    0.0       0.0
        Dublin, Ireland             0.0     0.0   0.0    0.0       0.0
...                                 ...     ...   ...    ...       ...
12.2020 ÜT: 55.879262,-3.574265     0.0     0.0   0.0    0.0       0.0
12.2021 Canada                      0.0     0.0   0.0    0.0       0.0
        Ilford, London              0.0     0.0   0.0    0.0       0.0
        Irish in E17                0.0     0.0   0.0    0.0       0.0
        Oxford, Oxfordshire, UK     0.0     0.0   0.0    0.0       0.0

                                              ...                              \
                                anticipation  ... weapon weather wedding what
Period  location                              ...
01.2020 Baile Átha Cliath                0.0  ...    0.0     0.0     0.0  0.0
        California                       0.0  ...    0.0     0.0     0.0  0.0
        Carlow                           0.0  ...    0.0     0.0     0.0  0.0
        Deutschland                      0.0  ...    0.0     0.0     0.0  0.0
        Dublin, Ireland                  0.0  ...    0.0     0.0     0.0  0.0
...                                      ...  ...    ...     ...     ...  ...
12.2020 ÜT: 55.879262,-3.574265          0.0  ...    0.0     0.0     1.0  0.0
12.2021 Canada                           0.0  ...    0.0     0.0     0.0  0.0
        Ilford, London                   0.0  ...    0.0     0.0     0.0  0.0
        Irish in E17                     0.0  ...    0.0     0.0     0.0  0.0
        Oxford, Oxfordshire, UK          0.0  ...    0.0     0.0     0.0  0.0

                                                                             \
                                white_collar_job work worship writing youth
Period  location
01.2020 Baile Átha Cliath                    0.0  0.0     0.0     0.0   0.0
        California                           0.0  0.0     0.0     0.0   0.0
        Carlow                               0.0  0.0     0.0     0.0   0.0
        Deutschland                          0.0  0.0     0.0     0.0   0.0
        Dublin, Ireland                      0.0  0.0     0.0     0.0   0.0
...                                          ...  ...     ...     ...   ...
12.2020 ÜT: 55.879262,-3.574265              0.0  0.0     0.0     1.0   1.0
12.2021 Canada                               0.0  1.0     0.0     0.0   0.0
        Ilford, London                       0.0  0.0     0.0     0.0   0.0
        Irish in E17                         0.0  0.0     0.0     0.0   0.0
        Oxford, Oxfordshire, UK              0.0  0.0     0.0     0.0   0.0


                                zest
Period  location
01.2020 Baile Átha Cliath        0.0
        California               0.0
        Carlow                   0.0
        Deutschland              0.0
        Dublin, Ireland          0.0
...                              ...
12.2020 ÜT: 55.879262,-3.574265  0.0
12.2021 Canada                   0.0
        Ilford, London           0.0
        Irish in E17             0.0
        Oxford, Oxfordshire, UK  0.0

[372 rows x 199 columns]